.hero-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.5);
}

.loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  transition: opacity 0.8s ease-out;
  opacity: 1;
}

.loading-overlay.hidden {
  opacity: 0;
  pointer-events: none; /* Impede que o overlay bloqueie cliques quando estiver invisível */
}

.loading-overlay h1 {
  color: #ffffff;
  font-family: FontePrimaria; /* Substitua por sua fonte primária, se houver */
  font-size: 10.5em;
  font-weight: 200; /* Uma espessura mais fina para elegância */
  letter-spacing: 4px;
  text-transform: uppercase; 
}

.hero-video {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Garante que o vídeo cubra todo o contêiner */
  opacity: 0;
  transition: opacity 1.5s ease-in; /* Transição um pouco mais lenta */
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.hero-video.visible {
  opacity: 1;
}

.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(4, 141, 136, 0.2); /* Filtro azul escuro semi-transparente */
  z-index: 1;
  opacity: 0;
  transition: opacity 1.5s ease-in;
}

.video-overlay.visible {
  opacity: 1;
}